In [1]:
import pandas as pd 
import numpy as np

In [4]:
NBA =pd.read_csv('NBA_LIMPIO.csv')

In [5]:
NBA.head()

,Player,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,...,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,Season
0,Pepe Sanchez,DET,9,4.1,0.0,0.0,0.6,0.0,0.0,0.0,...,0.0,0.4,0.2,0.7,0.9,0.6,0.0,0.2,0.3,2002/2003
1,Jamal Sampson,MIL,5,1.6,0.0,0.0,0.4,0.0,0.0,0.0,...,0.0,0.2,0.2,0.4,0.2,0.2,0.0,0.0,0.0,2002/2003
2,Ruben Boumtje-Boumtje,POR,2,2.5,0.0,0.0,0.5,0.0,0.0,0.0,...,0.0,0.5,0.0,0.5,0.5,0.5,0.0,0.0,0.0,2002/2003
3,Guy Rucker,GSW,3,1.3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.3,0.3,0.3,0.0,0.0,0.0,0.3,2002/2003
4,Chris Dudley,POR,3,3.7,0.0,0.0,0.3,0.0,0.0,0.0,...,0.0,0.7,0.0,0.7,0.0,0.0,0.0,0.0,1.0,2002/2003

In [6]:
NCAA  = pd.read_csv('NCAA_LIMPIO.csv')

C:\Users\jacob\AppData\Local\Temp\ipykernel_10836\1786931275.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  NCAA  = pd.read_csv('NCAA_LIMPIO.csv')

In [22]:
NCAA.shape

(84352, 23)

In [16]:
NCAA.sample(20)

,Player,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,...,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,Season
44427,Brandon Taylor,U,of,U,29,20.7,6.9,2.300,5.4,0.429,...,1.100,1.5,0.721,0.1,1.5,1.6,2.0,0.9,0.0,2012/2013
23364,Wendell Mardis,ASU,19,10.3,2.1,0.7,1.8,0.412,0.5,1.100,...,0.500,0.4,0.600,1.0,1.2,0.6,0.0,0.8,1.5,2007/2008
75225,Phil Booth,VILL,36,35.1,18.6,6.1,13.9,0.434,2.6,7.200,...,0.749,0.4,3.500,3.9,3.8,0.8,0.2,2.3,1.9,2018/2019
59274,Scott Meredith,SFU,13,4.1,0.5,0.2,1.0,0.154,0.2,1.000,...,0.000,0.2,0.300,0.5,0.2,0.2,0.0,0.2,0.2,2015/2016
1280,Omari Pearson,UNLV,32,13.3,3.7,1.3,2.6,0.512,0.1,0.200,...,0.705,1.1,1.300,2.4,0.3,0.3,0.3,0.8,1.8,2002/2003
72617,Adam Mitola,GW,24,5.9,0.8,0.3,0.7,0.412,0.3,0.600,...,0.000,0.1,0.100,0.2,0.1,0.0,0.0,0.4,0.5,2018/2019
70600,Devorious Brown,FAU,24,10.2,1.7,0.5,1.8,0.302,0.0,0.300,...,0.737,0.4,0.800,1.2,0.8,0.5,0.0,0.8,1.1,2017/2018
62600,Lamar Stevens,PSU,33,27.8,12.7,4.5,10.5,0.429,0.3,1.000,...,0.767,1.6,3.900,5.5,1.7,0.8,0.6,2.2,2.7,2016/2017
10532,Krste Krstevski,FIU,5,3.0,1.0,0.4,1.6,0.250,0.2,1.000,...,0.000,0.4,0.200,0.6,0.0,0.0,0.0,0.4,0.2,2004/2005
44309,Taylor Trevisan,SJU,10,2.0,1.4,0.5,0.7,0.714,0.3,0.500,...,0.333,0.0,0.400,0.4,0.2,0.1,0.0,0.0,0.1,2012/2013
23468,Mohammed Lo,U,of,T,30,11.6,1.5,0.600,1.5,0.391,...,0.300,0.5,0.500,0.9,1.1,2.0,0.1,0.3,0.3,2007/2008
59947,Larry Johnson,UAPB,25,4.0,0.2,0.1,0.4,0.273,0.0,0.100,...,0.000,0.2,0.200,0.3,0.1,0.1,0.0,0.5,0.7,2015/2016
75992,Dainan Swoope,SHSU,30,25.8,7.6,2.4,6.2,0.382,1.5,4.100,...,0.792,0.2,2.000,2.2,2.6,1.1,0.1,1.7,1.9,2019/2020
26983,T.J. Robinson,LBSU,30,23.4,11.4,4.1,6.9,0.597,0.0,0.000,...,0.704,1.9,4.300,6.2,0.3,0.6,0.0,1.7,2.4,2008/2009
21263,Daniel Ard,MSU,13,7.2,2.3,0.8,1.5,0.500,0.1,0.200,...,0.643,0.2,0.700,0.9,0.2,0.5,0.0,0.5,0.9,2006/2007
4995,Matt Seibert,AKR,8,3.3,0.8,0.3,0.8,0.333,0.0,0.000,...,1.000,0.3,0.100,0.4,0.1,0.1,0.1,0.1,0.4,2003/2004
70672,Joel Boyce,CSU,6,12.5,3.7,1.7,3.0,0.556,0.0,0.300,...,0.400,0.3,1.700,2.0,0.5,0.7,0.0,1.8,1.3,2017/2018
57886,Jonathan Thsimanga,Tshiteya,FAMU,2,0.5,0.0,0.0,0.500,0.0,0.000,...,0.000,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,2015/2016
63831,Myles McGregor,PC,2,1.0,0.5,0.0,0.5,0.000,0.0,0.000,...,0.500,0.0,0.500,0.5,0.0,0.0,0.0,0.0,0.0,2016/2017
30779,Lamonte Ulmer,URI,36,30.6,12.1,4.6,8.8,0.527,0.3,0.900,...,0.722,2.9,4.600,7.4,1.2,1.1,0.9,1.2,1.5,2009/2010

In [8]:
NBA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6200 entries, 0 to 6199
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  6200 non-null   object
 1   Team    6200 non-null   object
 2   GP      6200 non-null   object
 3   MPG     6200 non-null   object
 4   PPG     6200 non-null   float64
 5   FGM     6200 non-null   float64
 6   FGA     6200 non-null   float64
 7   FG%     6200 non-null   float64
 8   3PM     6200 non-null   float64
 9   3PA     6200 non-null   float64
 10  3P      6200 non-null   float64
 11  FTM     6200 non-null   float64
 12  FTA     6200 non-null   float64
 13  FT%     6200 non-null   float64
 14  ORB     6200 non-null   float64
 15  DRB     6200 non-null   float64
 16  RPG     6200 non-null   float64
 17  APG     6200 non-null   float64
 18  SPG     6200 non-null   float64
 19  BPG     6200 non-null   float64
 20  TOV     6200 non-null   float64
 21  PF      6200 non-null   float64
 22  Season  6200 non-null   object
dtypes: float64(18), object(5)
memory usage: 1.1+ MB

In [18]:
len(NCAA["Team"].unique())

542

In [15]:
NBA["Team"].unique()

array(['DET', 'MIL', 'POR', 'GSW', 'NJN', 'ATL', 'NOP', 'PHX', 'BOS',
       'CLE', 'WAS', 'SAS', 'MEM', 'DAL', 'ORL', 'IND', 'HOU', 'NYK',
       'SAC', 'SEA', 'PHI', 'DEN', 'Smith', 'LAL', 'CHI', 'MIN', 'UTA',
       'MIA', 'TOR', 'LAC', 'Exel', 'Peace', 'Horn', 'Ramos', 'CHA',
       'Elhamali', 'Williams', 'Navarro', 'OKC', 'a', 'BRK', 'Colo',
       'Jr.', 'Gbinije', 'IV', 'II', 'Sr.'], dtype=object)

In [9]:
NCAA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84352 entries, 0 to 84351
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  84352 non-null  object
 1   Team    84352 non-null  object
 2   GP      84352 non-null  object
 3   MPG     84352 non-null  object
 4   PPG     84352 non-null  object
 5   FGM     84352 non-null  object
 6   FGA     84352 non-null  float64
 7   FG%     84352 non-null  float64
 8   3PM     84352 non-null  float64
 9   3PA     84352 non-null  float64
 10  3P      84352 non-null  float64
 11  FTM     84352 non-null  float64
 12  FTA     84352 non-null  float64
 13  FT%     84352 non-null  float64
 14  ORB     84352 non-null  float64
 15  DRB     84352 non-null  float64
 16  RPG     84352 non-null  float64
 17  APG     84352 non-null  float64
 18  SPG     84352 non-null  float64
 19  BPG     84352 non-null  float64
 20  TOV     84352 non-null  float64
 21  PF      84094 non-null  float64
 22  Season  84352 non-null  object
dtypes: float64(16), object(7)
memory usage: 14.8+ MB

In [11]:
NCAA["GP"]  = NCAA["GP"].astype(float)

ValueError: could not convert string to float: 'A&T'

In [12]:
NCAA["GP"].unique()

array(['29', '32', '6', '8', '21', '19', '31', '27', '7', '5', '2', '18',
       '28', '33', '3', '26', '11', '10', '4', '15', '22', '30', '24',
       'A&T', '13', '14', '17', '25', '12', '1', 'of', '20', '23', '9',
       '34', 'BCU', '35', 'USC', '16', 'UVA', 'HP', 'LSU', 'BU', 'UTEP',
       'UD', 'DEP', 'USM', 'UWGB', 'OSU', 'POLY', '38', 'SJU', 'SCSU',
       '37', 'SB', 'UO', 'UCR', 'U', 'HU', '36', 'UAPB', 'NC', 'PSU',
       'ELON', 'NU', 'FU', 'KSU', 'ISU', 'LIU', 'UConn', 'USF', '23.3',
       'IUPUI', 'NMSU', 'Walle', 'Laar', 'MU', 'ASU', 'UNL', 'SMU', 'WSU',
       'SU', 'STJ', 'CSU', '1.0', '39', 'VMI', '14.5', 'CCSU', 'NAU',
       'UM', 'UIC', 'SFC', 'LU', 'ALB', 'FAMU', 'USD', 'MAR', 'WF',
       '11.0', 'MSU', 'GT', 'W&M', 'HC', 'UGA', 'DAV', 'LTU', 'UC',
       'Moute', '30.3', 'FAU', 'UNCW', 'SHSU', 'PROV', 'NSU', '10.0',
       '3.5', '5.0', '15.0', 'UVU', 'UHA', 'L-IL', 'OU', 'CU', 'Nignan',
       '2.0', '18.0', 'NJIT', '7.0', '4.0', '4.5', '36.6', 'RU', 'LONG',
       '40', 'WC', '26.7', '32.5', 'TSU', '1.5', '14.0', '0.0', '12.0',
       '6.0', '9.0', '19.0', '8.5', '2.3', '3.8', '16.0', 'GW', 'Rosa',
       'UAB', '6.8', '3.0', '0.7', 'UCF', 'AU', '4.4', 'UE', '5.5',
       '20.0', '2.5', 'UT', '10.7', '18.3', '10.3', '10.8', '21.3', 'GSU',
       '29.0', '2.6', 'MVSU', '3.4', '6.5', '4.7', '9.5', '21.0', 'BYU',
       '11.5', '1.6', 'DESU', '7.7', 'UCI', '7.6', 'UNT', '31.0', '4.8',
       '7.9', 'DU', '8.3', '2.8', 'WRST', '12.6', 'TTU', '5.3', 'WSSU',
       '6.9', '4.6', 'EIU', 'WIU', '9.8', '8.8', 'Kooij', 'COR', '17.0',
       '8.0', 'PU', 'SST', 'UTSA', 'UTA', '33.0', 'UMKC', '22.0', '19.5',
       'GWU', 'IC', '2.7', '13.0', 'UTRGV', 'PC', '17.5', 'CMU', 'ODU',
       '26.0', 'LIB', 'HAR', 'UNCG', 'JSU', '25.0', '14.3', 'NCCU',
       'UMES', 'SUBR', 'FDU', '25.7', '1.8', 'LIP', 'CSUS', 'MTSU',
       '29.5', 'BSU', '24.0', 'UCA', 'UMass', 'CSUF', 'UNF', '32.0', '41',
       'USU', 'VAL', '19.9', 'UK', '20.5', 'ULM', '20.7', 'SUU', 'CSUN',
       'WMY', 'UA', 'SFA', 'Cal', 'STBN', 'ETSU', 'VT', 'Mars', 'UW',
       'HCU', 'CIT', 'AAMU', 'DUKE', 'BGSU', '19.2', 'NCST', 'PAC', 'GU',
       'MER', 'PRIN', 'SMC', 'BC', 'SJSU', 'Jawato', 'TU', 'USA', 'TCU',
       '15.9', 'SDSU', 'Rivera', 'CCU', 'SHU', 'MAN', 'UDM', '1.3', 'QU',
       'CLEM', 'UNC', 'HOF', 'SIU', 'EWU', 'L-MD', 'UMBC', 'UNR', 'C',
       'Bidias', 'UIW', 'YSU', 'JAC', 'Dibo', 'AKR', 'SCU', 'WVU', 'ECU',
       'KU', 'Jr.', 'TAMU', 'FGC', 'UND', 'ND', 'IU', 'EMU', '34.3',
       'EKU', 'GMU', 'UALR', 'WKU', 'COM', 'NKU', 'KENN', 'LMU', 'CAM',
       'UMD', '11.6', 'FIU', 'RMU', 'SEMO', 'UNH', 'CAN', 'SIUE', 'URI',
       'LBSU', 'NDSU', 'SFU', 'SC', '31.8', 'DREX', 'UNI', 'UNLV', 'ORU',
       'UTM', 'JMU', 'DUQ', 'MSMU', 'AF', 'UCLA', 'UCD', 'UP', 'UB',
       'USNA', 'UTC', 'UCSB', 'VCU', 'SLU', 'UNO', 'CSUB', '27.2', 'SEA',
       'Heijden', 'TEM', 'VU', 'WIN', 'CBU', 'PVAMU', 'UH', 'Correa',
       'UWM', 'GCU', 'UF', 'UNCA', 'STET', 'UML', 'NIU', 'PITT', '21.4',
       '19.3', 'UNM', 'USCU', 'Cruz', 'TAMU-CC', 'UNA'], dtype=object)

In [30]:
NCAA_FINAL = NCAA[(NCAA["GP"].str.isnumeric())]

In [29]:
NCAA_nulos["GP"].value_counts()

of     2363
A&T     273
U        52
UM       48
CSU      44
       ...
8.8       1
9.8       1
4.6       1
6.9       1
UNA       1
Name: GP, Length: 348, dtype: int64

In [31]:
NBA_FINAL = NBA[NBA["GP"].str.isnumeric()]

In [24]:
NCb_nulos

,Player,Team,GP,MPG,PPG,FGM,FGA,FG%,3PM,3PA,...,FT%,ORB,DRB,RPG,APG,SPG,BPG,TOV,PF,Season
0,Pepe Sanchez,DET,9,4.1,0.0,0.0,0.6,0.000,0.0,0.0,...,0.000,0.4,0.2,0.7,0.9,0.6,0.0,0.2,0.3,2002/2003
1,Jamal Sampson,MIL,5,1.6,0.0,0.0,0.4,0.000,0.0,0.0,...,0.000,0.2,0.2,0.4,0.2,0.2,0.0,0.0,0.0,2002/2003
2,Ruben Boumtje-Boumtje,POR,2,2.5,0.0,0.0,0.5,0.000,0.0,0.0,...,0.000,0.5,0.0,0.5,0.5,0.5,0.0,0.0,0.0,2002/2003
3,Guy Rucker,GSW,3,1.3,0.0,0.0,0.0,0.000,0.0,0.0,...,0.000,0.0,0.3,0.3,0.3,0.0,0.0,0.0,0.3,2002/2003
4,Chris Dudley,POR,3,3.7,0.0,0.0,0.3,0.000,0.0,0.0,...,0.000,0.7,0.0,0.7,0.0,0.0,0.0,0.0,1.0,2002/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6195,Troy Hudson,MIN,79,21.9,8.7,3.4,8.4,0.401,1.1,3.3,...,0.778,0.2,1.1,1.3,3.6,0.3,0.1,1.4,1.5,2004/2005
6196,Gordan Giricek,UTA,81,20.5,8.8,3.5,7.8,0.448,0.5,1.3,...,0.810,0.3,1.9,2.2,1.7,0.6,0.1,1.1,1.9,2004/2005
6197,Austin Croshere,IND,73,25.0,8.9,2.6,6.8,0.378,0.6,2.4,...,0.883,1.4,3.7,5.1,1.3,0.7,0.2,1.4,2.1,2004/2005
6198,Matt Carroll,CHA,25,17.2,9.0,2.8,7.2,0.389,0.5,1.6,...,0.855,0.5,1.9,2.4,0.7,0.7,0.1,1.0,1.5,2004/2005
6199,Brian Cardinal,MEM,58,24.7,9.0,2.8,7.4,0.370,0.8,2.2,...,0.873,1.1,2.8,3.9,2.0,1.5,0.3,1.4,3.0,2004/2005

In [25]:
NBA.shape

(6200, 23)

In [32]:
NBA_FINAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6122 entries, 0 to 6199
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  6122 non-null   object
 1   Team    6122 non-null   object
 2   GP      6122 non-null   object
 3   MPG     6122 non-null   object
 4   PPG     6122 non-null   float64
 5   FGM     6122 non-null   float64
 6   FGA     6122 non-null   float64
 7   FG%     6122 non-null   float64
 8   3PM     6122 non-null   float64
 9   3PA     6122 non-null   float64
 10  3P      6122 non-null   float64
 11  FTM     6122 non-null   float64
 12  FTA     6122 non-null   float64
 13  FT%     6122 non-null   float64
 14  ORB     6122 non-null   float64
 15  DRB     6122 non-null   float64
 16  RPG     6122 non-null   float64
 17  APG     6122 non-null   float64
 18  SPG     6122 non-null   float64
 19  BPG     6122 non-null   float64
 20  TOV     6122 non-null   float64
 21  PF      6122 non-null   float64
 22  Season  6122 non-null   object
dtypes: float64(18), object(5)
memory usage: 1.1+ MB

In [33]:
NBA_FINAL["GP"] = NBA_FINAL["GP"].astype(float)

C:\Users\jacob\AppData\Local\Temp\ipykernel_10836\379995583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NBA_FINAL["GP"] = NBA_FINAL["GP"].astype(float)

In [34]:
NBA_FINAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6122 entries, 0 to 6199
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  6122 non-null   object
 1   Team    6122 non-null   object
 2   GP      6122 non-null   float64
 3   MPG     6122 non-null   object
 4   PPG     6122 non-null   float64
 5   FGM     6122 non-null   float64
 6   FGA     6122 non-null   float64
 7   FG%     6122 non-null   float64
 8   3PM     6122 non-null   float64
 9   3PA     6122 non-null   float64
 10  3P      6122 non-null   float64
 11  FTM     6122 non-null   float64
 12  FTA     6122 non-null   float64
 13  FT%     6122 non-null   float64
 14  ORB     6122 non-null   float64
 15  DRB     6122 non-null   float64
 16  RPG     6122 non-null   float64
 17  APG     6122 non-null   float64
 18  SPG     6122 non-null   float64
 19  BPG     6122 non-null   float64
 20  TOV     6122 non-null   float64
 21  PF      6122 non-null   float64
 22  Season  6122 non-null   object
dtypes: float64(19), object(4)
memory usage: 1.1+ MB

In [35]:
NBA_FINAL["MPG"] = NBA_FINAL["MPG"].astype(float)

C:\Users\jacob\AppData\Local\Temp\ipykernel_10836\3543078579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NBA_FINAL["MPG"] = NBA_FINAL["MPG"].astype(float)

In [37]:
NBA_FINAL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6122 entries, 0 to 6199
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  6122 non-null   object
 1   Team    6122 non-null   object
 2   GP      6122 non-null   float64
 3   MPG     6122 non-null   float64
 4   PPG     6122 non-null   float64
 5   FGM     6122 non-null   float64
 6   FGA     6122 non-null   float64
 7   FG%     6122 non-null   float64
 8   3PM     6122 non-null   float64
 9   3PA     6122 non-null   float64
 10  3P      6122 non-null   float64
 11  FTM     6122 non-null   float64
 12  FTA     6122 non-null   float64
 13  FT%     6122 non-null   float64
 14  ORB     6122 non-null   float64
 15  DRB     6122 non-null   float64
 16  RPG     6122 non-null   float64
 17  APG     6122 non-null   float64
 18  SPG     6122 non-null   float64
 19  BPG     6122 non-null   float64
 20  TOV     6122 non-null   float64
 21  PF      6122 non-null   float64
 22  Season  6122 non-null   object
dtypes: float64(20), object(3)
memory usage: 1.1+ MB

In [38]:
NBA_FINAL.to_csv('NBA_READY.csv',index=False)

In [39]:
NCAA_FINAL.to_csv('NCAA_READY.csv',index=False)